@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Neurial Grotesk';
    font-weight: 400;
    src: url(../fonts/NeurialGrotesk-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: 'Neurial Grotesk';
    font-weight: 300;
    src: url(../fonts/NeurialGrotesk-Light.otf) format("opentype");
  }
  @font-face {
    font-family: 'Neurial Grotesk';
    font-weight: 500;
    src: url(../fonts/NeurialGrotesk-Medium.otf) format("opentype");
  }
  @font-face {
    font-family: 'Neurial Grotesk';
    font-weight: 700;
    src: url(../fonts/NeurialGrotesk-Bold.otf) format("opentype");
  }
  @font-face {
    font-family: 'Neurial Grotesk';
    font-weight: 800;
    src: url(../fonts/NeurialGrotesk-Extrabold.otf) format("opentype");
  }
}